name: Read the Docs link

on:
  pull_request_target:
    types:
      - opened

permissions:
  pull-requests: write

jobs:
  documentation-links:
    if: github.repository == 'NMRLipids/FAIRMD_lipids'
    runs-on: ubuntu-latest
    steps:
      - uses: readthedocs/actions/preview@v1
        with:
          project-slug: databank
          single-version: true
